<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	xmlns:georss="http://www.georss.org/georss" xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" >

<channel>
	<title>verbatime &#8211; Sam &amp; Max</title>
	<atom:link href="http://sametmax.com/tag/verbatime/feed/" rel="self" type="application/rss+xml" />
	<link>http://sametmax.com</link>
	<description>Du code, du cul</description>
	<lastBuildDate>Tue, 10 Sep 2019 09:14:50 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.7</generator>
<site xmlns="com-wordpress:feed-additions:1">32490438</site>	<item>
		<title>Ignorer certains caractères spéciaux dans un template django</title>
		<link>http://sametmax.com/ignorer-certains-caracteres-speciaux-dans-un-template-django/</link>
		<comments>http://sametmax.com/ignorer-certains-caracteres-speciaux-dans-un-template-django/#comments</comments>
		<pubDate>Mon, 09 Dec 2013 07:04:51 +0000</pubDate>
		<dc:creator><![CDATA[Sam]]></dc:creator>
				<category><![CDATA[Programmation]]></category>
		<category><![CDATA[django]]></category>
		<category><![CDATA[javascript]]></category>
		<category><![CDATA[python]]></category>
		<category><![CDATA[tag]]></category>
		<category><![CDATA[template]]></category>
		<category><![CDATA[verbatime]]></category>

		<guid isPermaLink="false">http://sametmax.com/?p=8268</guid>
		<description><![CDATA[Hier Max me demandait comment mettre un template Javascript dans un template Django s'ils utilisent la même syntaxe.]]></description>
				<content:encoded><![CDATA[<p>Hier Max me demandait comment mettre un template Javascript dans un template Django s&#8217;ils utilisent la même syntaxe.</p>
<p>La réponse : utiliser le tag &#8220;verbatim&#8221; :</p>
<pre>{% verbatim %}
  Mettre ici le code que django doit afficher tel quel, sans interpréter.
{% endverbatim %}</pre>
]]></content:encoded>
			<wfw:commentRss>http://sametmax.com/ignorer-certains-caracteres-speciaux-dans-un-template-django/feed/</wfw:commentRss>
		<slash:comments>6</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">8268</post-id><enclosure url="http://sametmax.com/wp-content/uploads/2013/12/rkMxVfI.jpg" length="43698" type="image/jpg" />	</item>
	</channel>
</rss>
