<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:georss="http://www.georss.org/georss" xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" 
	>
<channel>
	<title>Comments on: Un peu de Ruby dans du Python</title>
	<atom:link href="http://sametmax.com/un-peu-de-ruby-dans-du-python/feed/" rel="self" type="application/rss+xml" />
	<link>http://sametmax.com/un-peu-de-ruby-dans-du-python/</link>
	<description>Du code, du cul</description>
	<lastBuildDate>Fri, 06 Sep 2019 09:34:15 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.7</generator>
	<item>
		<title>By: Sam</title>
		<link>http://sametmax.com/un-peu-de-ruby-dans-du-python/#comment-180604</link>
		<dc:creator><![CDATA[Sam]]></dc:creator>
		<pubDate>Fri, 26 Aug 2016 09:32:41 +0000</pubDate>
		<guid isPermaLink="false">http://sametmax.com/?p=2297#comment-180604</guid>
		<description><![CDATA[&lt;p&gt;:)&lt;/p&gt;
]]></description>
		<content:encoded><![CDATA[<p>:)</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Max ( un autre )</title>
		<link>http://sametmax.com/un-peu-de-ruby-dans-du-python/#comment-180463</link>
		<dc:creator><![CDATA[Max ( un autre )]]></dc:creator>
		<pubDate>Sat, 20 Aug 2016 23:50:59 +0000</pubDate>
		<guid isPermaLink="false">http://sametmax.com/?p=2297#comment-180463</guid>
		<description><![CDATA[pensée fugace

&#039;&#039;&#039;

Tiens, je vais faire un projet en Ruby, tapons un bon rail.

Eh mais WHAT ? pas d&#039;équivalent de virtualenvwrapper ??

&#039;&#039;&#039;

{% google &#124; fu: &#039;test de la solution du présent article&#039;  %}

Aah .. Rahha .. Gwha ! Raaaahhaha ... Gniiiihhhii... Aaaaaah......

{{ Cestbonça }}

Merci mec.

J&#039;en profite de ce premier message pour saluer votre partage, en lecteur assidu que je suis.
]]></description>
		<content:encoded><![CDATA[<p>pensée fugace</p>
<p>&#8221;&#8217;</p>
<p>Tiens, je vais faire un projet en Ruby, tapons un bon rail.</p>
<p>Eh mais WHAT ? pas d&#8217;équivalent de virtualenvwrapper ??</p>
<p>&#8221;&#8217;</p>
<p>{% google | fu: &#8216;test de la solution du présent article&#8217;  %}</p>
<p>Aah .. Rahha .. Gwha ! Raaaahhaha &#8230; Gniiiihhhii&#8230; Aaaaaah&#8230;&#8230;</p>
<p>{{ Cestbonça }}</p>
<p>Merci mec.</p>
<p>J&#8217;en profite de ce premier message pour saluer votre partage, en lecteur assidu que je suis.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Sam</title>
		<link>http://sametmax.com/un-peu-de-ruby-dans-du-python/#comment-2143</link>
		<dc:creator><![CDATA[Sam]]></dc:creator>
		<pubDate>Fri, 28 Sep 2012 18:34:38 +0000</pubDate>
		<guid isPermaLink="false">http://sametmax.com/?p=2297#comment-2143</guid>
		<description><![CDATA[Au lieu de l&#039;installer au niveau du système, du l&#039;installe au niveau du user, sur ton mac où tu n&#039;as qu&#039;un user, ce qui revient donc à l&#039;installer pour tous les utilisateurs. Donc de pas gérer les conflits de version. C&#039;est pas la mort pour compass, mais pour d&#039;autre lib, c&#039;est dommage.]]></description>
		<content:encoded><![CDATA[<p>Au lieu de l&#8217;installer au niveau du système, du l&#8217;installe au niveau du user, sur ton mac où tu n&#8217;as qu&#8217;un user, ce qui revient donc à l&#8217;installer pour tous les utilisateurs. Donc de pas gérer les conflits de version. C&#8217;est pas la mort pour compass, mais pour d&#8217;autre lib, c&#8217;est dommage.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: desfrenes</title>
		<link>http://sametmax.com/un-peu-de-ruby-dans-du-python/#comment-2136</link>
		<dc:creator><![CDATA[desfrenes]]></dc:creator>
		<pubDate>Fri, 28 Sep 2012 15:43:00 +0000</pubDate>
		<guid isPermaLink="false">http://sametmax.com/?p=2297#comment-2136</guid>
		<description><![CDATA[Je suis un peu surpris, je ne suis pas développeur ruby mais j&#039;utilise quelques fois des gems (notamment https://github.com/tjouan/zassets qui nous permet de profiter de sprockets dans un projet en php) et je n&#039;ai ni rvm, ni besoin de faire un sudo... tout s&#039;installe dans /Users/mickael/usr/lib/ruby/gems/ . Certes ça reste une installation &quot;globale&quot;, pas uniquement pour le venv, mais au moins pas besoin de sudo.]]></description>
		<content:encoded><![CDATA[<p>Je suis un peu surpris, je ne suis pas développeur ruby mais j&#8217;utilise quelques fois des gems (notamment <a href="https://github.com/tjouan/zassets" rel="nofollow">https://github.com/tjouan/zassets</a> qui nous permet de profiter de sprockets dans un projet en php) et je n&#8217;ai ni rvm, ni besoin de faire un sudo&#8230; tout s&#8217;installe dans /Users/mickael/usr/lib/ruby/gems/ . Certes ça reste une installation &#8220;globale&#8221;, pas uniquement pour le venv, mais au moins pas besoin de sudo.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
