<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	xmlns:georss="http://www.georss.org/georss" xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" >

<channel>
	<title>template &#8211; Sam &amp; Max</title>
	<atom:link href="http://sametmax.com/tag/template/feed/" rel="self" type="application/rss+xml" />
	<link>http://sametmax.com</link>
	<description>Du code, du cul</description>
	<lastBuildDate>Thu, 05 Sep 2019 08:22:03 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.7</generator>
<site xmlns="com-wordpress:feed-additions:1">32490438</site>	<item>
		<title>Templates de projet avec cookiecutter</title>
		<link>http://sametmax.com/templates-de-projet-avec-cookiecutter/</link>
		<comments>http://sametmax.com/templates-de-projet-avec-cookiecutter/#comments</comments>
		<pubDate>Thu, 11 Jun 2015 21:49:11 +0000</pubDate>
		<dc:creator><![CDATA[Sam]]></dc:creator>
				<category><![CDATA[Programmation]]></category>
		<category><![CDATA[jinja]]></category>
		<category><![CDATA[python]]></category>
		<category><![CDATA[template]]></category>

		<guid isPermaLink="false">http://sametmax.com/?p=16371</guid>
		<description><![CDATA[La meilleure solution à ce jour vient de Audrey Roy, qui est avant tout connue pour avoir co-écrit le livre Two scoops of Django, et qui a aussi pondu <a href="http://cookiecutter.readthedocs.org/en/latest/readme.html">cookiecutter</a>.]]></description>
				<content:encoded><![CDATA[<p>Beaucoup de frameworks viennent avec des templates de projets maintenant. Django vient avec <code>django-admin startproject --template</code>, tandis que crossbar vient avec <code>crossbar init --template</code>. L&#8217;idée d&#8217;avoir de templates pour ses projets n&#8217;a rien de nouveau, d&#8217;ailleurs la plupart des OS modernes ont au moins ça intégré pour des fichiers. Ainsi Ubuntu à un dossière &#8220;Modèles&#8221;, et tout ce qu&#8217;il y a dedans peut être dupliqué ailleurs via un clic droit dans Nautilus.</p>
<p>Néanmoins la meilleure solution à ce jour vient de Audrey Roy, qui est avant tout connue pour avoir co-écrit le livre Two scoops of Django, et qui a aussi pondu <a href="http://cookiecutter.readthedocs.org/en/latest/readme.html">cookiecutter</a>.</p>
<p>L&#8217;outil est très simple. D&#8217;abord un <a href="http://sametmax.com/votre-python-aime-les-pip/">pip</a> pour l&#8217;installer :</p>
<p><code>pip install cookiecutter</code></p>
<p>Notez que bien que le projet soit en Python, les templates peuvent être en n&#8217;importe quel langage, cookiecutter s&#8217;en branle. Lui, il va juste copier le contenu du template dans un dossier, et remplacer les variables notées <code>{{}}</code> dedans.</p>
<p>Pour commencer, on créé un dossier nommé <code>{{cookiecutter.repo_name}}</code> qui va contenir le template de son projet. Oui, le nom du dossier est <code>{{cookiecutter.repo_name}}</code>. En effet les noms de dossiers et fichiers sont aussi templatisables, et passés à la moulinette de <a href="https://en.wikipedia.org/wiki/Jinja_%28template_engine%29">jinja2</a>.</p>
<p>Dans ce dossier, on peut mettre tous les fichiers qu&#8217;on veut, avec des noms normaux, ou avec des variables. Le contenu des fichiers peut, bien entendu, contenir aussi des variables. Les variables sont toujours de la forme <code>{{cookiecutter.nom_de_variable}}</code>.</p>
<p>Ensuite, à côté de notre dossier nommé <code>{{cookiecutter.repo_name}}</code> (le dossier du template), on peut créer un fichier <code>cookiecutter.json</code> qui va contenir les valeurs par défaut de nos variables :</p>
<pre lang="javascript">{
    "repo_name": "nouveau_projet",
    "version": "0.1.0",
    "autre_variable": "Bidule"
}
</pre>
<p>Enfin pour récolter les fruits de son labeur, on lance <code>cookiecutter /chemin/vers/template</code> et l&#8217;outil va vous poser tout un tas de question pour remplir les variables, puis va générer le nouveau projet dans le dossier courant.</p>
<p>Cookiecutter accepte aussi des urls de repo git et mercurial comme source de template, et l&#8217;auteur de l&#8217;outil fournit un <a href="https://github.com/audreyr/cookiecutter-pypackage">template de projet Python</a> très complet par ce biais. </p>
<p>On va l&#8217;utiliser comme exemple.</p>
<p>Voici son contenu :</p>
<pre>├── cookiecutter.json <= valeur par défaut des variables
├── {{cookiecutter.repo_name}} <= template du projet
│   ├── AUTHORS.rst
│   ├── CONTRIBUTING.rst
│   ├── {{cookiecutter.repo_name}}
│   │   ├── {{cookiecutter.repo_name}}.py
│   │   └── __init__.py
│   ├── docs
│   │   ├── authors.rst
│   │   ├── conf.py
│   │   ├── contributing.rst
│   │   ├── history.rst
│   │   ├── index.rst
│   │   ├── installation.rst
│   │   ├── make.bat
│   │   ├── Makefile
│   │   ├── readme.rst
│   │   └── usage.rst
│   ├── HISTORY.rst
│   ├── LICENSE
│   ├── Makefile
│   ├── MANIFEST.in
│   ├── README.rst
│   ├── requirements.txt
│   ├── setup.cfg
│   ├── setup.py
│   ├── tests
│   │   ├── __init__.py
│   │   └── test_{{cookiecutter.repo_name}}.py
│   └── tox.ini
└── README.rst</pre>
<p>Certains usages de variables sont assez évident, comme par exemple le fichier __init__:</p>
<pre lang="python">
# -*- coding: utf-8 -*-

__author__ = '{{ cookiecutter.full_name }}'
__email__ = '{{ cookiecutter.email }}'
__version__ = '{{ cookiecutter.version }}'
</pre>
<p>D'autres sont assez malines et inattendues comme le fichier de test :</p>
<pre lang="python">#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""
test_{{ cookiecutter.repo_name }}
----------------------------------
Tests for `{{ cookiecutter.repo_name }}` module.
"""

import unittest

from {{ cookiecutter.repo_name }} import {{ cookiecutter.repo_name }}


class Test{{ cookiecutter.repo_name|capitalize }}(unittest.TestCase):

    def setUp(self):
        pass

    def test_something(self):
        pass

    def tearDown(self):
        pass

if __name__ == '__main__':
    unittest.main()
</pre>
<p>On note l'usage du filtre jinja <code>capitalize</code>. Tous les outils de jinja sont à disposition, ce serait con de s'en priver.</p>
<p>Pour utiliser le template on fait <code>$ cookiecutter https://github.com/audreyr/cookiecutter-pypackage.git</code>, ce qui nous donne :</p>
<pre>
Clonage dans 'cookiecutter-pypackage'...
remote: Counting objects: 505, done.
remote: Total 505 (delta 0), reused 0 (delta 0), pack-reused 505
Réception d'objets: 100% (505/505), 77.89 KiB | 0 bytes/s, done.
Résolution des deltas: 100% (265/265), done.
Vérification de la connectivité... fait.
full_name (default is "Audrey Roy")? Sam
email (default is "audreyr@gmail.com")? lesametlemax@gmail.com
github_username (default is "audreyr")? sam
project_name (default is "Python Boilerplate")? essai
repo_name (default is "boilerplate")? essai
project_short_description (default is "Python Boilerplate contains all the boilerplate you need to create a Python package.")? C'est un essai j'ai dis
release_date (default is "2015-01-11")? 
year (default is "2015")? 
version (default is "0.1.0")? </pre>
<p>Notez les valeurs par défaut du fichier JSON, qui sont celles de l'auteur.</p>
<p>Le résultat généré :</p>
<pre>
├── essai
│   ├── AUTHORS.rst
│   ├── CONTRIBUTING.rst
│   ├── docs
│   │   ├── authors.rst
│   │   ├── conf.py
│   │   ├── contributing.rst
│   │   ├── history.rst
│   │   ├── index.rst
│   │   ├── installation.rst
│   │   ├── make.bat
│   │   ├── Makefile
│   │   ├── readme.rst
│   │   └── usage.rst
│   ├── essai
│   │   ├── essai.py
│   │   └── __init__.py
│   ├── HISTORY.rst
│   ├── LICENSE
│   ├── Makefile
│   ├── MANIFEST.in
│   ├── README.rst
│   ├── requirements.txt
│   ├── setup.cfg
│   ├── setup.py
│   ├── tests
│   │   ├── __init__.py
│   │   └── test_essai.py
│   └── tox.ini
└── README.rst</pre>
<p>Le fichier __init__ est devenu :</p>
<pre lang="python">
# -*- coding: utf-8 -*-

__author__ = 'Sam'
__email__ = 'lesametlemax@gmail.com'
__version__ = '0.1.0'
</pre>
<p>Et le fichier de test :</p>
<pre lang="python">#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""
test_essai
----------------------------------

Tests for `essai` module.
"""

import unittest

from essai import essai


class TestEssai(unittest.TestCase):

    def setUp(self):
        pass

    def test_something(self):
        pass

    def tearDown(self):
        pass

if __name__ == '__main__':
    unittest.main()</pre>
<p>L'outil accepte <a href="http://cookiecutter.readthedocs.org/en/latest/advanced_usage.html">un beau degré de customisation</a>, avec un fichier de configuration général au niveau de l'utilisateur (et donc des valeurs par défaut par utilisateur), une API programmable en Python, des hooks pre et post generation (qui permettent d'injecter des variables dynamiquement comme par exemple un uuid ou un timestamp).</p>
<p>Donc si vous recréez souvent les mêmes layout de projet encore et encore, pensez à cookiecutter.</p>
<p>Mais surtout, surtout, si vous codez votre propre framework, ne faites pas comme Django, utilisez l'API de cookiecutter au lieu de réinventer la roue.</p>
]]></content:encoded>
			<wfw:commentRss>http://sametmax.com/templates-de-projet-avec-cookiecutter/feed/</wfw:commentRss>
		<slash:comments>10</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">16371</post-id><enclosure url="http://sametmax.com/wp-content/uploads/2015/06/j2J1ge8.jpg" length="205582" type="image/jpg" />	</item>
		<item>
		<title>Templite, le moteur de template Python qui tient dans un fichier</title>
		<link>http://sametmax.com/templite-le-moteur-de-template-python-qui-tient-dans-un-fichier/</link>
		<comments>http://sametmax.com/templite-le-moteur-de-template-python-qui-tient-dans-un-fichier/#comments</comments>
		<pubDate>Tue, 25 Feb 2014 10:34:27 +0000</pubDate>
		<dc:creator><![CDATA[Sam]]></dc:creator>
				<category><![CDATA[Programmation]]></category>
		<category><![CDATA[github]]></category>
		<category><![CDATA[pypi]]></category>
		<category><![CDATA[python]]></category>
		<category><![CDATA[template]]></category>
		<category><![CDATA[templite]]></category>

		<guid isPermaLink="false">http://sametmax.com/?p=9235</guid>
		<description><![CDATA[Je n'ai <a href="http://www.joonis.de/en/code/templite">pas écris templite</a>, je l'ai juste mis sur <a href="https://pypi.python.org/pypi/templite/0.1.3">pypi</a> et <a href="https://github.com/sametmax/templite">github</a> en respectant sa paternité car il restait sous forme de snippet perdu depuis trop longtemps.
]]></description>
				<content:encoded><![CDATA[<p><code><a href="http://sametmax.com/votre-python-aime-les-pip/">pip</a> install templite</code></p>
<pre lang="python">from templite import Templite

template = """
This is the place where all the ${variable}$ go...
The time goes fast but everything is slow...
${for woho in whohos:}$
    ${woho}$
${:end-for}$
"""

t = Templite(template)
print t.render(variable="junkies", whohos=["woo hoo", "woo hoo", "woo hoo hoo hoo"])</pre>
<p>Ce qui donne :</p>
<pre>This is the place where all the junkies go...
The time goes fast but everything is slow...

    woo hoo

    woo hoo

    woo hoo hoo hoo</pre>
<p>Je n&#8217;ai <a href="http://www.joonis.de/en/code/templite">pas écrit templite</a>, je l&#8217;ai juste mis sur <a href="https://pypi.python.org/pypi/templite/0.1.3">pypi</a> et <a href="https://github.com/sametmax/templite">github</a> en respectant sa paternité car il restait sous forme de snippet perdu depuis trop longtemps.</p>
<p>Vous pouvez le piper mais vraiment, ce n&#8217;est pas obligatoire, comme <a href="http://sametmax.com/sept-petites-libs-qui-changent-la-vie-dun-dev-python/">peewee</a> et <a href="http://sametmax.com/creer-un-site-avec-bottle-en-5-minutes-parceque-7-cest-impossible-voyons/">bottle</a>, il tient dans un fichier, donc on peut juste dumper le module dans son code source.</p>
]]></content:encoded>
			<wfw:commentRss>http://sametmax.com/templite-le-moteur-de-template-python-qui-tient-dans-un-fichier/feed/</wfw:commentRss>
		<slash:comments>15</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">9235</post-id><enclosure url="http://sametmax.com/wp-content/uploads/2014/02/tKvCM.jpg" length="48252" type="image/jpg" />	</item>
		<item>
		<title>Cog, l&#8217;anti langage de template Python</title>
		<link>http://sametmax.com/cog-lanti-langage-de-template-python/</link>
		<comments>http://sametmax.com/cog-lanti-langage-de-template-python/#comments</comments>
		<pubDate>Mon, 27 Jan 2014 17:45:38 +0000</pubDate>
		<dc:creator><![CDATA[Sam]]></dc:creator>
				<category><![CDATA[Programmation]]></category>
		<category><![CDATA[cog]]></category>
		<category><![CDATA[python]]></category>
		<category><![CDATA[template]]></category>

		<guid isPermaLink="false">http://sametmax.com/?p=8903</guid>
		<description><![CDATA[<a href="http://nedbatchelder.com/code/cog/">Cog</a> est un outil Python en ligne de commande qui permet d'insérer du code Python dans un fichier, afin qu'il génère une partie de ce fichier]]></description>
				<content:encoded><![CDATA[<p><a href="http://nedbatchelder.com/code/cog/">Cog</a> est un outil Python en ligne de commande qui permet d&#8217;insérer du code Python dans un fichier, afin qu&#8217;il génère une partie de ce fichier.</p>
<p>A priori, ça ressemble à un langage de template. Là où ça diffère, c&#8217;est que cog ne cherche pas à générer un fichier différent, il insère le code généré dans le fichier original, et garde le code de génération.</p>
<p>Exemple, vous avez envie d&#8217;insérer un warning en haut de plusieurs fichiers de code. Vos choix :</p>
<ul>
<li>Copier-coller le warning.</li>
<li>Créer un script de build qui insère le warning.</li>
</ul>
<p>L&#8217;alternative des bricoleurs qui ont juste besoin de quelques insertions, c&#8217;est Cog. Par exemple, votre fichier contient :</p>
<pre lang="python"># [[[cog for l in open('warning.txt'): cog.out("# " + l) ]]]
# [[[end]]]

import vostrucs

vostrucs.faire_vos_machins()</pre>
<p>Après un <code>cog.py -r votre_fichier.py</code>, votre fichier sera :</p>
<pre lang="python"># [[[cog for l in open('warning.txt'): cog.out("# " + l) ]]]
# Attention, ceci est un avertissmement super important.
# Ce logiciel ne vient avec aucune garantie. Il vomira dans votre salon.
# Violera votre femme, lui collera l'hépatite C et offrira un CD de one direction
# à vos enfants.
# [[[end]]]

import vostrucs

vostrucs.faire_vos_machins()</pre>
<p>cog vient avec plusieurs options, par exemple la possibilité de retirer le code de génération ou de lire le précédent texte généré depuis le code de génération.</p>
<p>La véritable force de l&#8217;outil c&#8217;est qu&#8217;il peut utiliser n&#8217;importe quel module Python, et donc générer du texte à partir d&#8217;un contenu en ligne ou un fichier CSV. Il est d&#8217;ailleurs né parce que l&#8217;auteur était codeur C et avait besoin de générer du code à partir d&#8217;un fichier XML.</p>
<p>Le seul défaut de Cog, c&#8217;est que c&#8217;est verbeux. Et moche.</p>
]]></content:encoded>
			<wfw:commentRss>http://sametmax.com/cog-lanti-langage-de-template-python/feed/</wfw:commentRss>
		<slash:comments>4</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">8903</post-id>	</item>
		<item>
		<title>Django, une app à la fois &#8211; faire une app de base</title>
		<link>http://sametmax.com/django-une-app-a-la-fois-faire-une-app-de-base/</link>
		<comments>http://sametmax.com/django-une-app-a-la-fois-faire-une-app-de-base/#comments</comments>
		<pubDate>Sat, 18 Jan 2014 15:22:24 +0000</pubDate>
		<dc:creator><![CDATA[Sam]]></dc:creator>
				<category><![CDATA[Programmation]]></category>
		<category><![CDATA[django]]></category>
		<category><![CDATA[python]]></category>
		<category><![CDATA[template]]></category>
		<category><![CDATA[view]]></category>

		<guid isPermaLink="false">http://sametmax.com/?p=8789</guid>
		<description><![CDATA[Voici un nouveau morceau qui montre comment écrire une petite app de base avec un template et une vue réutilisable qui serviront donc dans les prochaines apps du projets.
]]></description>
				<content:encoded><![CDATA[<p>Ca faisait longtemps que je n&#8217;avais pas fait avancer le projet <a href="http://sametmax.com/django-une-app-a-la-fois/">django, an app at a time</a>.</p>
<p>Voici donc un nouveau morceau qui montre comment écrire une petite app de base avec un template et une vue réutilisables qui serviront donc dans les prochaines apps du projet.</p>
<p>Comme d&#8217;hab, vous pouvez récupérer le code sur <a href="https://github.com/sametmax/Django--an-app-at-a-time">la teub de Guy</a> et il y a une version française et anglaise.</p>
]]></content:encoded>
			<wfw:commentRss>http://sametmax.com/django-une-app-a-la-fois-faire-une-app-de-base/feed/</wfw:commentRss>
		<slash:comments>3</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">8789</post-id><enclosure url="http://sametmax.com/wp-content/uploads/2014/01/vghvgMc.jpg" length="111945" type="image/jpg" />	</item>
		<item>
		<title>Ignorer certains caractères spéciaux dans un template django</title>
		<link>http://sametmax.com/ignorer-certains-caracteres-speciaux-dans-un-template-django/</link>
		<comments>http://sametmax.com/ignorer-certains-caracteres-speciaux-dans-un-template-django/#comments</comments>
		<pubDate>Mon, 09 Dec 2013 07:04:51 +0000</pubDate>
		<dc:creator><![CDATA[Sam]]></dc:creator>
				<category><![CDATA[Programmation]]></category>
		<category><![CDATA[django]]></category>
		<category><![CDATA[javascript]]></category>
		<category><![CDATA[python]]></category>
		<category><![CDATA[tag]]></category>
		<category><![CDATA[template]]></category>
		<category><![CDATA[verbatime]]></category>

		<guid isPermaLink="false">http://sametmax.com/?p=8268</guid>
		<description><![CDATA[Hier Max me demandait comment mettre un template Javascript dans un template Django s'ils utilisent la même syntaxe.]]></description>
				<content:encoded><![CDATA[<p>Hier Max me demandait comment mettre un template Javascript dans un template Django s&#8217;ils utilisent la même syntaxe.</p>
<p>La réponse : utiliser le tag &#8220;verbatim&#8221; :</p>
<pre>{% verbatim %}
  Mettre ici le code que django doit afficher tel quel, sans interpréter.
{% endverbatim %}</pre>
]]></content:encoded>
			<wfw:commentRss>http://sametmax.com/ignorer-certains-caracteres-speciaux-dans-un-template-django/feed/</wfw:commentRss>
		<slash:comments>6</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">8268</post-id><enclosure url="http://sametmax.com/wp-content/uploads/2013/12/rkMxVfI.jpg" length="43698" type="image/jpg" />	</item>
	</channel>
</rss>
