<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	xmlns:georss="http://www.georss.org/georss" xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" >

<channel>
	<title>context &#8211; Sam &amp; Max</title>
	<atom:link href="http://sametmax.com/tag/context/feed/" rel="self" type="application/rss+xml" />
	<link>http://sametmax.com</link>
	<description>Du code, du cul</description>
	<lastBuildDate>Tue, 10 Sep 2019 09:14:50 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.7</generator>
<site xmlns="com-wordpress:feed-additions:1">32490438</site>	<item>
		<title>La question du jour: qu&#8217;est-ce que l&#8217;objet context en Django</title>
		<link>http://sametmax.com/la-question-du-jour-quest-ce-que-lobjet-context-en-django/</link>
		<comments>http://sametmax.com/la-question-du-jour-quest-ce-que-lobjet-context-en-django/#comments</comments>
		<pubDate>Sun, 12 Aug 2012 14:38:36 +0000</pubDate>
		<dc:creator><![CDATA[Sam]]></dc:creator>
				<category><![CDATA[Programmation]]></category>
		<category><![CDATA[context]]></category>
		<category><![CDATA[django]]></category>
		<category><![CDATA[python]]></category>
		<category><![CDATA[view]]></category>

		<guid isPermaLink="false">http://sametmax.com/?p=1643</guid>
		<description><![CDATA[<blockquote>J'apprends Django. Pouvez-vous me dire ce qu'est l'object context dans une méthode liée à une vue. Je vois vaguement ce qu'est l'objet request mais pas l'objet context? pouvez-vous m'en dire plus?</blockquote>]]></description>
				<content:encoded><![CDATA[<p>Petit mail aujourd’hui:</p>
<blockquote><p>J&#8217;apprends Django. Pouvez-vous me dire ce qu&#8217;est l&#8217;object <code>context</code> dans une méthode liée à une vue. Je vois vaguement ce qu&#8217;est l&#8217;objet <code>request</code> mais pas l&#8217;objet <code>context</code>? pouvez-vous m&#8217;en dire plus?</p></blockquote>
<p>L&#8217;objet context est ce qui permet de faire passer des valeurs depuis la vue au template.</p>
<p>Pour des raisons de performance, de sécurité et de facilité de débuggage, on ne veut pas passer <strong>toutes</strong> les variables d&#8217;une vue dans le template. On va donc créer un objet context, que l&#8217;on va remplir des trucs qu&#8217;on souhaite être accessibles depuis le template.</p>
<p>L&#8217;objet context ressemble à un dictionnaire: il a des clés et des valeurs. Il est d&#8217;ailleurs créé à partir d&#8217;un vrai dictionnaire, et la plupart du temps dans une vue on voit un truc comme ça:</p>
<pre lang="python">
tous_les_articles = Article.objects.all()
context = {'articles': tous_les_articles}
return render('index.html', context)</pre>
<p>Typiquement cela veut dire &#8220;Renvoyer une réponse en utilisant le template <em>index.html</em> qui aura accès à la variable <code>articles</code> contenant des objets <code>Article()</code>.).</p>
<p>Du coup, dans le template <em>index.html</em>, on pourra faire ça:<br />
<code><br />
{{ articles }}</code></p>
<p>Mais pas ça:<br />
<code><br />
{{ tous_les_articles }}</code></p>
<p>Car <code>articles</code> est dans le <code>context</code>, mais pas <code>tous_les_articles</code>. Même si dans notre cas on s&#8217;en branle puisqu&#8217;ils ont la même valeur.</p>
<p>Il y a un piège cependant dans cet exemple :-)</p>
<p><code>Context</code> ici <strong>n&#8217;est PAS un objet context</strong>, mais par facilité on l&#8217;appelle ainsi. Ici <code>context</code> est un dictionnaire des valeurs que l&#8217;on veut mettre dans le vrai objet context. On passe ce dictionnaire à la fonction <code>render()</code> qui va se charger de la corvée de charger le template, créer le vrai objet context, lui passer les valeurs dans le dictionnaires, et faire le rendu du template avec ces valeurs puis retourner la réponse HTTP avec le résultat.</p>
<p>Je note que dans le question, notre interlocuteur nous parle de méthode. Si il utilise les vues génériques sous forme de classe (ce que <a href="http://sametmax.com/des-vues-normales-aux-vues-generiques-django/">je recommande d&#8217;éviter à tout prix</a>), dans ce cas on retrouve le <code>context</code> généralement ainsi:</p>
<pre lang="python">context = super(MaView, self).get_context_data(**kwargs)</pre>
<p>Dans ce cas, <code>context</code> est le vrai objet <code>context</code>, déjà tout fait rien que pour vous par la vue. Mais comme il se comporte comme un dictionnaire, on peut très bien continuer à l&#8217;utiliser comme avant:</p>
<pre lang="python">
context['articles'] = Article.objects.all()
return context
</pre>
<p>Et du coup faire:<br />
<code><br />
{{ articles }}<br />
</code><br />
Dans le <code>template</code> spécifié dans l&#8217;attribut <code>template_name</code> de la classe.</p>
<p>Dans ce cas, la vue va se charger automatiquement de récupérer le <code>context</code> ainsi retourné, et de faire le rendu du template avec celui-ci. Ici ça à l&#8217;air un peu plus magique, et un débutant aura du mal à comprendre d&#8217;où vient le <code>context</code> et où va le <code>context</code>. C&#8217;est entre autre pour ça que je recommande de ne pas utiliser les vues sous forme de classe. Utilisez les fonctions, c&#8217;est beaucoup plus simple.</p>
<p>Une dernière chose: <strong>pourquoi utiliser un objet <code>context</code>, et pas juste un dictionnaire ?</strong> Après tout il s&#8217;agit juste d&#8217;avoir une liste des variables accessible dans le template non ?</p>
<p>En fait, le <code>context</code> peut faire bien plus. Notamment, il est possible de le remplir automatiquement pour toutes les vues au travers des context managers.</p>
<p>Par ailleurs, pour les questions sur Django, je vous recommande à tous de rejoindre le forum de <a href="http://forum.django-fr.org/">Django-fr</a> qui est justement là pour ça. On ouvrira un compte Sam&amp;Max si personne ne répond :-)</p>
]]></content:encoded>
			<wfw:commentRss>http://sametmax.com/la-question-du-jour-quest-ce-que-lobjet-context-en-django/feed/</wfw:commentRss>
		<slash:comments>4</slash:comments>
	<post-id xmlns="com-wordpress:feed-additions:1">1643</post-id><enclosure url="http://sametmax.com/wp-content/uploads/2012/08/949432-help-hand.jpg" length="157138" type="image/jpg" />	</item>
	</channel>
</rss>
