<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	xmlns:georss="http://www.georss.org/georss" xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" >

<channel>
	<title>pagination &#8211; Sam &amp; Max</title>
	<atom:link href="http://sametmax.com/tag/pagination/feed/" rel="self" type="application/rss+xml" />
	<link>http://sametmax.com</link>
	<description>Du code, du cul</description>
	<lastBuildDate>Tue, 10 Sep 2019 09:14:50 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.7</generator>
<site xmlns="com-wordpress:feed-additions:1">32490438</site>	<item>
		<title>Django:  That page number is less than 1</title>
		<link>http://sametmax.com/django-that-page-number-is-less-than-1/</link>
		<pubDate>Fri, 07 Jun 2013 18:22:48 +0000</pubDate>
		<dc:creator><![CDATA[Sam]]></dc:creator>
				<category><![CDATA[Programmation]]></category>
		<category><![CDATA[django]]></category>
		<category><![CDATA[pagination]]></category>
		<category><![CDATA[python]]></category>

		<guid isPermaLink="false">http://sametmax.com/?p=6364</guid>
		<description><![CDATA[Vous avez fait une upgrade vers Django 1.5 et paf, votre pagination vous dégobille une erreur.]]></description>
				<content:encoded><![CDATA[<p>Vous avez fait une upgrade vers Django 1.5 et paf, votre pagination vous dégobille une erreur.</p>
<p>C&#8217;est normal, et <a href="https://docs.djangoproject.com/en/dev/releases/1.5/#validation-of-previous-page-number-and-next-page-number">c&#8217;est dans le changelog</a> : à partir de maintenant, l&#8217;objet page lève une exception si vous essayez de récupérer une page précédente ou suivante quand elle n&#8217;existe pas.</p>
<p>Par exemple, si vous êtes à la page 1, il n&#8217;y a pas de page 0, et donc si dans votre template vous faites ça :</p>
<pre lang="html">{{ page_obj.previous_page_number }}</pre>
<p>Vous allez vous retrouver avec ça :</p>
<pre lang="python">*** EmptyPage: That page number is less than 1</pre>
<p>La solution est simplement de vérifier qu&#8217;il existe une page précédente (ou suivante). Par exemple :</p>
<pre lang="html">{{ if page_obj.has_previous }}
    {{ page_obj.previous_page_number }}
{{ endif }}</pre>
]]></content:encoded>
		<post-id xmlns="com-wordpress:feed-additions:1">6364</post-id><enclosure url="http://sametmax.com/wp-content/uploads/2013/06/KkBM9N1.jpg" length="25146" type="image/jpg" />	</item>
	</channel>
</rss>
