<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:georss="http://www.georss.org/georss" xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" 
	>
<channel>
	<title>Comments on: Ce qu&#8217;il faut savoir en Django</title>
	<atom:link href="http://sametmax.com/ce-quil-faut-savoir-en-django/feed/" rel="self" type="application/rss+xml" />
	<link>http://sametmax.com</link>
	<description>Du code, du cul</description>
	<lastBuildDate>Thu, 05 Sep 2019 19:03:35 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.7</generator>
	<item>
		<title>By: Sam</title>
		<link>http://sametmax.com/ce-quil-faut-savoir-en-django/#comment-192593</link>
		<dc:creator><![CDATA[Sam]]></dc:creator>
		<pubDate>Mon, 26 Feb 2018 10:58:24 +0000</pubDate>
		<guid isPermaLink="false">http://sametmax.com/?page_id=9030#comment-192593</guid>
		<description><![CDATA[&lt;p&gt;Hello valentin. Pour de l&#039;aide, va plutôt sur indexerror.net&lt;/p&gt;
]]></description>
		<content:encoded><![CDATA[<p>Hello valentin. Pour de l&#8217;aide, va plutôt sur indexerror.net</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Valentin</title>
		<link>http://sametmax.com/ce-quil-faut-savoir-en-django/#comment-192554</link>
		<dc:creator><![CDATA[Valentin]]></dc:creator>
		<pubDate>Sat, 24 Feb 2018 23:37:50 +0000</pubDate>
		<guid isPermaLink="false">http://sametmax.com/?page_id=9030#comment-192554</guid>
		<description><![CDATA[ReBonjour,

Au temps pour moi, j&#039;ai louché dans la doc et j&#039;ai raté {% spaceless %}

Ma première question tient toujours, je ne trouve pas d&#039;info sur une méthode permettant de boucler sur des includes avec un contenu différent dans chacun d&#039;eux.

En même temps ce n&#039;est peut-être pas une pratique saine... ;)

Merci !
]]></description>
		<content:encoded><![CDATA[<p>ReBonjour,</p>
<p>Au temps pour moi, j&#8217;ai louché dans la doc et j&#8217;ai raté {% spaceless %}</p>
<p>Ma première question tient toujours, je ne trouve pas d&#8217;info sur une méthode permettant de boucler sur des includes avec un contenu différent dans chacun d&#8217;eux.</p>
<p>En même temps ce n&#8217;est peut-être pas une pratique saine&#8230; ;)</p>
<p>Merci !</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Valentin</title>
		<link>http://sametmax.com/ce-quil-faut-savoir-en-django/#comment-192553</link>
		<dc:creator><![CDATA[Valentin]]></dc:creator>
		<pubDate>Sat, 24 Feb 2018 23:29:38 +0000</pubDate>
		<guid isPermaLink="false">http://sametmax.com/?page_id=9030#comment-192553</guid>
		<description><![CDATA[Bonjour,

Je recherche des informations sur les templates django : django.template.backends.django.DjangoTemplates

Notamment : Peut-on faire une boucle sur des includes ? Le cas échéant comment gérer les noms des variables du template, une astuce ?

Plus important, je souhaite faire avec ce moteur de template l&#039;équivalent de Jinja {% blabla -%} qui permettrait de supprimer les sauts de lignes et autres caractères d&#039;espacements inutiles en HTML. S&#039;il y a une autre méthode je prends aussi ;)

Merci !
]]></description>
		<content:encoded><![CDATA[<p>Bonjour,</p>
<p>Je recherche des informations sur les templates django : django.template.backends.django.DjangoTemplates</p>
<p>Notamment : Peut-on faire une boucle sur des includes ? Le cas échéant comment gérer les noms des variables du template, une astuce ?</p>
<p>Plus important, je souhaite faire avec ce moteur de template l&#8217;équivalent de Jinja {% blabla -%} qui permettrait de supprimer les sauts de lignes et autres caractères d&#8217;espacements inutiles en HTML. S&#8217;il y a une autre méthode je prends aussi ;)</p>
<p>Merci !</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: unmecquetuneconnaispas</title>
		<link>http://sametmax.com/ce-quil-faut-savoir-en-django/#comment-163245</link>
		<dc:creator><![CDATA[unmecquetuneconnaispas]]></dc:creator>
		<pubDate>Sun, 12 Jul 2015 15:58:07 +0000</pubDate>
		<guid isPermaLink="false">http://sametmax.com/?page_id=9030#comment-163245</guid>
		<description><![CDATA[et bin alors !
]]></description>
		<content:encoded><![CDATA[<p>et bin alors !</p>
]]></content:encoded>
	</item>
</channel>
</rss>
